.bg {
  background-image: url("../imgs/vast_ocean.jpg");
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel_img {
  width: 100vw;
  height: 100vh;

  object-fit: cover;
}

.carousel_caption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 70%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 50px;
}

.Navbar_over_img {
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 93%;
  left: 0%;
  color: white;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.jumbotron {
  background-image: url("../imgs/vast_ocean.jpg");
  background-size: cover;
}

/* design.css */

/* Styles for the Introduction section */
.Introduction {
  text-align: center;
  padding: 40px 20px; /* Adding some padding around the content */
  background-color: #ffffff; /* Setting a background color to make it stand out */
}

.Introduction p {
  font-size: 18px; /* Customize the font size for normal text */
}

.Introduction .website-link {
  font-size: 40px; /* Increase the font size of the website link */
  font-weight: bold; /* Add bold style to the link */
  color: #007bff; /* Change the link color to blue (#007bff) */
  text-decoration: none; /* Remove underline from the link */
}

.Introduction .website-link:hover {
  text-decoration: underline; /* Add underline on hover */
}
